// 색상 변수
$colors: (
  black: #000,
  white: #fff,
  error: #fc4100,

  // Black Scale
  black-100: #6b6b6b,
  black-200: #525252,
  black-300: #373737,
  black-400: #1f1f1f,
  black-500: #040404,

  // Gray Scale
  gray-50: #fff,
  gray-100: #dedede,
  gray-200: #c4c4c4,
  gray-300: #ababab,
  gray-400: #999999,
  gray-500: #808080,

  // Primary Orange
  orange-50: #fff7eb,
  orange-100: #fcc369,
  orange-200: #fbaf37,
  orange-300: #f89a05,
  orange-400: #e18c05,

  // Primary Blue
  blue-100: #535779,
  blue-200: #3e415b,
  blue-300: #2a2c3d,
  blue-400: #1a1b2c,

  // Background
  background-100: #fcfcfc,
  background-200: #f7f7f7,
  background-300: #efefef,

  // Line
  line-100: #f2f2f2,
  line-200: #e6e6e6,
);

// 타이포그래피 변수
$typography: (
  xs: (
    fontSize: 12px,
    lineHeight: 18px,
  ),
  sm: (
    fontSize: 13px,
    lineHeight: 22px,
  ),
  md: (
    fontSize: 14px,
    lineHeight: 24px,
  ),
  lg: (
    fontSize: 16px,
    lineHeight: 26px,
  ),
  "2lg": (
    fontSize: 18px,
    lineHeight: 26px,
  ),
  xl: (
    fontSize: 20px,
    lineHeight: 32px,
  ),
  "2xl": (
    fontSize: 24px,
    lineHeight: 32px,
  ),
  "3xl": (
    fontSize: 32px,
    lineHeight: 42px,
  ),
);

// 브레이크포인트 변수
$breakpoints: (
  // mobile landscape
  sm: 375px,
  // tablet
  md: 744px,
  // desktop, tablet landscape
  lg: 1024px,
  // large desktop
  xl: 1280px
);
