@use "@/styles/index.scss" as s;
@use "sass:map";

.header {
    width: 100%;
    @include s.flex-box(center, center, column);
    padding-top: 160px;
    background-color: s.color(black);
}

.header__top {
    @include s.flex-box(center, center, column);
    margin-bottom: 30px;

    img{
        margin-bottom: 32px;
    }
}

.header__text {
    font-size: 53px;
    font-weight: 300;
    color: s.color(gray-50);
    text-align: center;
    margin-bottom: 40px;
}

.main{
    margin:490px 0 385px 0 ;
}

.main__images{
    margin: 0 auto 260px auto;
     @include s.flex-box(center, center, column);
    gap: 240px;
}

.main__bottom{
    width: 386px;
    height: 296px;
    margin: 0 auto 0 auto;
    @include s.flex-box(center, center, column);
}

.main__text_sub {
    font-size: 48px;
    font-weight: 700;
    color: s.color(black-400);
    text-align: center;
}

/* Desktop */
@include s.mq(lg) {
    .header__top {
    margin-bottom: 43px;

    img{
        width: 124px;
        height: 24px;
        margin-bottom: 24px;
    }
}
.header__text {
    @include s.text-style-extended(xl, 400, gray-50);
    text-align: center;
    margin-bottom: 48px;
}

.header__image{
    width: 386px;
    height: 244px;
}

.main{
    margin:240px 0 124px 0 ;
}

.main__images{
    margin: 0 auto 160px auto;
    gap: 160px;

    img{
        width: 570px;
        height: 320px;
    }
}

.main__bottom{
width: 254px;
height: 206px;

}
.main__text_sub{
    @include s.text-style-extended('3xl', 700, black-400);
}
}
