@use "@/styles/index.scss" as s;
@use "sass:map";

.header {
    width: 100%;
    @include s.flex-box(center, center, column);
    padding-top: 160px;
    background-color: s.color(black);
}

.header__top {
    @include s.flex-box(center, center, column);
    margin-bottom: 30px;

    img{
        margin-bottom: 32px;
    }
}

.header__text {
    font-size: 53px;
    font-weight: 300;
    color: s.color(gray-50);
    text-align: center;
    margin-bottom: 40px;
}


/* Desktop */
@include s.mq(lg) {
    .header__top {
    margin-bottom: 43px;

    img{
        width: 124px;
        height: 24px;
        margin-bottom: 24px;
    }
}
.header__text {
    @include s.text-style-extended(xl, 400, gray-50);
    text-align: center;
    margin-bottom: 48px;
}

.header__image{
    width: 386px;
    height: 244px;
}


}
