@use "@/styles/index.scss" as s;
@use "sass:map";

.basic__button {
  width: 386px;
  height: 96px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;

  &--fill {
    &--orange {
      background-color: s.color(orange-300);
      color: s.color(white);

      &:hover {
        background-color: s.color(orange-200);
      }

      &:active {
        background-color: s.color(orange-100);
      }
    }

    &--blue {
      background-color: s.color(blue-300);
      color: s.color(white);

      &:hover {
        background-color: s.color(blue-200);
      }

      &:active {
        background-color: s.color(blue-400);
      }
    }

    &--gray {
      background-color: s.color(gray-100);
      color: s.color(white);
    }
  }

  &--line {
    background: none;
    border-radius: 5px;
    &--orange {
      color: s.color(orange-300);
      border: 1px solid s.color(orange-300);
    }

    &--gray {
      color: s.color(gray-100);
      border: 1px solid s.color(gray-100);
    }
  }
}
